GithubComment {
    height: auto;
    align-horizontal: center;
}

GithubComment > Container {
    margin: 1;
    width: 90%;
}

GithubComment Horizontal Static {
    width: 1fr;
    content-align: center middle;
    background: grey;
}

GithubComment * {
    height: auto;
}


GithubComment > Container > Vertical > Static {
    border: white;
    padding: 1;
}

GithubComment > Container > Vertical > Static.active {
    border: dashed orange;
}
